{% load static %}
<html lang="pl">
        <head>
            <meta charset="UTF-8">  <!kodowanie strony z jakiej korzysta przeglądarka>
            <title>Blog dla programistów</title>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
            <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        </head>
        <body>
        <div class="page-header">

        <h1><a href="/">Blog dla programisty</a></h1>
        </div>

        <div class="row">
          <div class="col-md-8">
            {% block content %}
            {% endblock %}

          </div>
        </div>
    </body>
    </html>