<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">  <!kodowanie strony z jakiej korzysta przeglądarka>
    <title>Blog dla programistów</title>
</head>
<body>
    <div>
        <h1>Witam na stronie bloga :)</h1>
        <h2>Blog o programowaniu</h2>
        <h3>Witam na stronie bloga :)</h3>
        <h4>Witam na stronie bloga :)</h4>
    </div>

    <div>
        <p>To jest akapit</p>
        <em>Wyróżniony tekst</em><br><!br to nowa linijka>
        <strong>Gruby tekst</strong>
        <a href="https://google.com">Link</a>
    </div>

    <div>
        <ul>
            <li>Elementy listy</li>
            <li>Inne elementy</li>
            <li>Jeszcze inne</li>
    </div>
</ul>
</body>
</html>