h1 a,h2 a{
    color: #93bf60;
}

body {
    padding-left:15px;
    font-family: 'Nanum Gothic', sans-serif;
}

.page-header{
    background-color: #C23100;
    margin-top: 10;
    margin-right: 20;
    padding: 20px 20px 20px 20px;
}

.page-header h1, .page-header h2{
    color:#d1cb1f;
    font-size: 16pt;
}

.data{
color:#d14798;
}

.post{
background-color:#b3a6ad;
margin-right: 20;
padding: 20px 20px 20px 20px

}